header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

header span {
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

header div.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

header a:visited {
  color: white;
}

header a.active {
  background-color: rgba(51, 51, 51, 0.5);
}